$gray-90: #262626;
$gray-90-80: rgba($gray-90,.8);
$gray-90-50: rgba($gray-90,.5);
$gray-90-30: rgba($gray-90,.3);
$gray-90-10: rgba($gray-90,.1);
$gray-80: #393939;
$gray-80-50: rgba($gray-80,.5);
$gray-80-30: rgba($gray-80,.3);
$gray-80-10: rgba($gray-80,.1);
$gray-70: #525252;
$gray-60: #6f6f6f;
$gray-60-50: rgba($gray-60,.5);
$gray-60-30: rgba($gray-60,.3);
$gray-60-10: rgba($gray-60,.1);
$gray-50: #8d8d8d;
$gray-40: #a8a8a8;
$gray-30: #c6c6c6;
$gray-20: #e0e0e0;
$gray-10: #f4f4f4;
$green-50: #24a148;
$green-40: #42be65;
$blue-80: #002d9c;
$blue-60: #0f62fe;
$blue-50: #4589ff;
$blue-40: #78a9ff;
$red-80: #750e13;
$red-60: #da1e28;
$red-60-hover: #ba1b23;
$red-60-30: rgba($red-60,.3);
$red-40: #ff8389;
$red-30: #ffb3b8;
